// User Pages

.app-logo {
  height: 30px;
  width: 100px;
  background-image: url('../../images/logo.png');
  background-size: 200%;
  background-position: center;
}

.app-logo-inverse {
  height: $logo-height;
  width: $logo-width;
  //background:url('~assets/utils/images/logo.png');
}

.app-login-box {
  .app-logo {
    margin-bottom: 2rem;
  }

  h4 {
    margin-bottom: $layout-spacer-x;
    font-weight: normal;

    div {
      opacity: .6;
    }

    span {
      font-size: $font-size-lg;
    }
  }
}